
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
body{
    font-family: Montserrat;
}
a:link, a:visited {
    text-decoration: none;

}
div{
}
footer{
    background-color: #004445;
    text-align: center;
    height: 20vh;
    padding-top: 40px;
    width: 100vw;

    bottom: 0;
    margin-top: 10px;
}

/* Registrieren Anfang */
.content{
    top:20px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-height: 65vh;
}

.post{
    background-color: #eee;
    top:20px;
    width: 50vw;
    padding: 20px 20px;}

.signup-wrapper{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.action-button{
    background-color: #004445;
    padding: 15px 15px;
    color: white;
    font-size:1.2em;
    border: none;
    justify-content: flex-end;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50px;
}

.action-button:hover{
    background-color: rgba(0,0,100, 0.7);
    transition: 0.2s ease-in;
}
/* Registrieren Ende */
/* Profil Anfang */
    .profil{
        top:20px;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgray;
        min-height: 80vh;
    }


    .profilbild{
        position: relative;
        left:10px;
        top: 10px;
    }

    .bio{
        position: relative;
        left:10px;
        margin-top: 50px;
    }
/* Profil Ende */
/* Navigation Anfang */

    .navibar{
        /*position:fixed;*/
        top: 0;
        display: flex;
        background-color: #004445;
        color: white;
        margin-bottom:10px;
        padding: 20px 0px;
        height: 15vh;

}
.logo-wrapper{
    margin-left: 50px;
    width: 10px;
    margin-right: auto;
    height: 100%;
}

.links-wrapper{
    margin: auto;
    text-align: right;
    margin-right: 50px;
}

.drop-header {
    padding-top: 10px;
    background-color: #004443;
    z-index: 1;
}

.nav-link{
    padding: 15px 15px;
    color: white;
}

.drop {
    display: inline-block;
    padding-left: 1px;
}
.drop-content {
    display: none;
    padding-top: 10px;
    background-color: #004445;
    z-index: 1;
}
.drop:hover .drop-content {
    display: block;
}
.drop-item:hover{
    background-color: #bab9b9;
}

/* Navigation Ende */

